.DS_Store
bin/
include/
Include/
lib/
Lib/
Scripts/
tcl/
pip-selfcheck.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Editors
.vscode